<div class="form-control">
    <form>
        <div class="form-group">
            <label>Enter Github Username:</label>
            <input type="text" name="search" [(ngModel)]='myusername' (keyup)="findUser()">
        </div>
    </form>
    </div>
    <div class="card-header">
        Username: {{user.login}}
    </div>
    
    
    <div class="display">
        <div class="row">
            <div class="col-sm-3">
                <strong>Image: </strong> <img src="{{user.avatar_url}}" alt="profile Image" >
            </div>
            <div class="col-sm-5">
                <ul class="list-group">
            
                    <!-- <li class="list-group-item"><strong>Image: </strong> <img src="{{user.avatar_url}}" alt="profile Image" ></li> -->
                    <li class="list-group-item"><strong>Following: </strong> {{user.following}}</li>
                    <li class="list-group-item"><strong>Followers: </strong> {{user.followers}}</li>
                    <li class="list-group-item" *ngIf="user.email"><strong>Email: </strong> {{user.email}}</li>
                    <li class="list-group-item" *ngIf="user.location"><strong>Location: </strong> {{user.location}}</li>
                    <li class="list-group-item"><strong>Repositories: </strong> {{user.public_repos}}</li>
                    <li class="list-group-item"><strong>Created: </strong> {{user.created_at|date }}</li>
                </ul>
            </div>
        </div>
        
    
    </div> 